@import "tailwindcss";

/* @keyframes fade {
  from { opacity: 0; transform: translateY(8px); }
  to   { opacity: 1; transform: translateY(0); }
}
.animate-fade {
  animation: fade 0.6s ease-out;
}

@keyframes slide {
  from { opacity: 0; transform: translateY(-10px); }
  to   { opacity: 1; transform: translateY(0); }
}
.animate-slide {
  animation: slide 0.5s ease-out;
}

.dropdown-item {
  display: block;
  padding: 12px 16px;
  font-size: 14px;
} */
.dropdown-item:hover {
  background: #f3f4f6;
}

